
header {
    background-color: gray;

}

.navbar {
    display:flex;
    justify-content: space-between;
    padding:0 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap:20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.hero {
    display:flex;
    flex-direction: column;
    width:300px;
    align-items: flex-start;
}

button {
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: 900;
}

.hero-wrap {
    display: flex;
    flex:1;
    justify-content: space-evenly;
    padding: 30px;
}